/* .header{
  margin: 15px 10px;
} */

.slide-box {
  margin: 20px 0;
}

.slide-box-headers {
  display: flex;
  justify-content: space-evenly;
  margin-left: 6.5em;
}

.options {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.options span{
  width: 2em;
}