.box-container{
    display: flex;
    justify-content: space-between;
    margin: 45px 50px; 
}

.box{
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 12em;
    height: 10em;
    background-color: #ffffff;
}
 
.box img{
    width: 6em;
}