.welcome-main-container {
    margin: 40px 30px;
    text-align: left;
  }
  .welcome-content {
    font-weight: 600;
    margin-bottom: 15px;
  }
  .welcome-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.3983718487394958) 0%, rgba(240,230,140,1) 100%);
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    
    padding: 30px 30px;
  }
  
  .box-left {
    margin-left: 15px;
  }
  .box-left span,
  .box-right span {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .box-right button{
      padding: 8px 20px;
      border-radius: 5px;
      font-weight: 600;
      cursor: pointer;
      background-color: black;
      color: white;
  }